html {
      overflow: hidden;
}
main {
      height: 100%;
}

h1 {
      text-align: center;
}

.timer {
      margin-top: 250px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
}

.time {
      width: 500px;
      font-size: 130px;
      font-weight: bold;
      max-width: 100%;
      min-width: max-content;
      word-break: keep-all;
      text-align: center;
}

.controller-btn {
      display: flex;
      flex-direction: row;
      justify-content: center;
}

.btn {
      padding: 6px 12px;
      font-size: 20px;
      margin: 2px 0;
      text-transform: uppercase;
}